.App {
  position: relative;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #E8B187;
  background-color: #F3E9DC;
  font-family: 'Roboto Mono', monospace;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #454545;
  display: none;
}

.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  padding: 10px;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: black solid 1px;
  background-color: transparent;
  width:10px;
  height: 10px;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: black;
}



@media screen and (min-width:1024px) {

  .App {
    flex-direction: row;
  }

  .App-content {
    margin-left: 25vw;
    background-color: #E8B187;
    background-color: #F3E9DC;
    padding: 0 10vw;
  }

  .mySwiper {
    max-width: 800px;
    padding: 50px;
  }

  .swiper-slide {
    padding: 50px;
  }

  div.swiper-button-prev,
  div.swiper-button-next {
    color: #454545;
    display: block;
  }

  .navIcons {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 20;
    margin: 5px 10px;
  }
}